@font-face {
  font-family: "Overwatch";
  src: url("../fonts/big_noodle_titling.ttf");      
}

h1 {
  padding-left: 170px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

section {
	height: 100vh;
  display: flex;
  align-items: center;
}
body {
      line-height: 1.4;
      font-family: PT Sans,sans-serif;
      color: #333;
      font-size: 14px;
      background-color: #f6f6f6;
}

ul {
  list-style: none;
}
.title-big {
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 1rem 0;
  margin: 0 0 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
.full-width {
	height: 100vh;
	main {
		section:last-child {
			height: 95vh;
		}
	}
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}
.style-nav-aside {
 	background-color: #363a5d;
 	width: 150px;

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}

.style-aside {
 	display: flex;
 	position: fixed;
 	top: 10vh;
  height: 80vh;
  -webkit-box-shadow: 15px 12px 18px rgba(0,0,0,0.6); 
  border-radius: 15px;
}

.flex-ul-aside {
 	display: flex;
	flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
 	justify-content: space-evenly;
}
.style-main {
  	margin-left: 175px;
}
.style-liste-footer {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
}
.style-footer {
	height: 5vh;
  	margin-left: 150px;
  	position: relative;
}
.link-no-style > a {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none;
  text-decoration: none;
  width: 80%;
  height: 4%;
  background-color: #ff9c00;
  border-radius: 2px;
  transition: background-color 0.5s ease;
  border: 3px solid transparent;
  line-height: 1;
  &:hover {
    background-color: #ffb033;
    li {
      color: #fff;;
    }
  }
}
.menu-button > a > li {
	padding-left: 10px;
	padding-right: 10px;
	color: white;
 	text-transform: uppercase;
  transition: color 0.5s ease;
  font-size: 1.5rem;
  letter-spacing: 0.025em;
  /*font-weight: 600;*/
  font-family: "Overwatch", regular;
}

.footer-button > li > a {
  padding-left: 10px;
	padding-right: 10px;
 	color: grey;
	text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.06em;
  font-weight: 600;
	text-transform: uppercase;
	transition: color 0.5s ease;
	&:hover {
  	color: black;
	};
}


.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	align-items: center;
  width: 80vw;
  height: 50%;
  padding: 20px;
  margin: 20px;
  box-shadow: 25px 22px 7px -15px rgba(0,0,0,0.19);
  background-image: url('../img/cardPatter.png');
  border: 1px solid;
  color: black;
}
