@font-face {
  font-family: "Overwatch";
  src: url("../fonts/big_noodle_titling.ttf");
}
header {
    position: fixed;
    width: 100%;
    top: 0;
}
h1 {
  padding-left: 170px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  letter-spacing: 0.025em;
  font-size: 2rem;
  margin-bottom: 0;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Body Style */

#homeAncre {
  background-attachment: fixed;
  background-image: url("../img/BackImage4.jpg");
  background-size: cover;
  div {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #e5e5e5;
    h2 {
      font-size: 70px;
    }
    h3 {
      font-size: 40px;
      text-transform: uppercase;
    }
  }
}

#aboutAncre {
  div {
    p{
      text-align: left;
    }
  }
}
.full-width {
  height: 100vh;
  line-height: 1.4;
   font-family: PT Sans,sans-serif;
  color: #333;
  font-size: 14px;
  main {
    background-image: url("../img/dust_scratches.png");
    background-color: rgba(0,0,0, 0.5);
    section:last-child {
      height: 95vh;
    }
  }
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.flex-center {
	height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  .title-big {
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding: 1rem 0;
    margin: 0 0 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
  }
  .style-text {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 175%;
  }
}

.ul-style {
  list-style: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 175%;
}

.svg {
  height: 75px;
}
 /*Header NavBar Style */
.style-nav {
    background-color: rgba(59, 124, 177, 0.95);
    height: 50px;
    .menu-button  {
      height: 100%;
      display: flex;
      text-transform: uppercase;
      transition: color 0.5s ease;
      font-size: 1.5rem;
      letter-spacing: 0.025em;
      font-family: "Overwatch", regular;
      align-items: center;
      justify-content: center;
      a {
        color: white;
      }
    }
    .flex-ul {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      justify-content: space-evenly;
    }
}
.link-no-style > a {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 80%;
    height: 100%;
    border-radius: 2px;
    transition: background-color 0.5s ease;
    line-height: 1;
  &:hover {
    background-color: #f85c3c;
    li {
      color: #fff;
    }
  }
}
 /* Skill Section Style */

 .flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  li {
   max-height: 200px;
   padding: 30px;
  }
}

.div-skill {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    .div-container-skill {
      display: flex;
      flex-direction: column;
      align-items: center;
       padding-top: 15px;
      padding-bottom: 15px;
      h3 {
        text-transform: uppercase;
        width: 100%;
        margin: 0;
        padding-bottom: 50px;
        font-size: 1.25rem;
        font-weight: normal;
      }
    }
}
/* Project Section Style */
.div-container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  justify-content: flex-end;
  height: 200px;
  .size-img {
     width: 250px;
  }
}

.max-container {
      max-width: 400px;
      a {
        list-style: none;
        color: #333;
        text-decoration: none;
      }
}

.hidden {
  display: none;
}
.full-size-img {
  max-width: 75%;
  max-height: auto;
}


/* Footer Style */

.style-footer {
	height: 5vh;
  position: relative;
  background-image: url("../img/dust_scratches.png");
  background-color: rgba(0,0,0, 0.5);
  .style-liste-footer {
    display: flex;
    justify-content: space-around;
  }
  li > a {
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.06em;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.5s ease;
    &:hover {
      color: black;
    };
  }
}


@media screen and (min-width: 1180px) {
  .ul-style__grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    padding-top: 5rem;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;

}

@keyframes zoom {
    from {
      transform:scale(0)
    }
    to
    {transform:scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;

}

.close:hover,.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
